{% extends 'base_main.html' %}
    
{% block content %}

{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}
</br>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-auto">
            <!--<label class="form-label" for="autoSizingSelect"> </label>-->
            <select class="form-select" name="actionname">
                <option selected disabled=true>Seleccionar...</option>
                <option value="delete"> Eliminar </option>
                <!--<option value="no_action"> ----- </option>-->
            </select>
        </div>
        <div class="col-auto">
                <button class="btn btn-secondary" type="sumbit" name="action">Go</button>
        </div>
    </div>
    
    </br>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th> Nombre del empleado </th>
                <th> Nombre del aprobador </th>
                <th> Editar renovacion realizada </th>
                {% for group in request.user.groups.all %}
                {% if group.name == 'admin' %}
                <th> Editar recursos humanos </th>
                <!--<th> Eliminar </th>-->
                <th>
                    <div class="form-check form-check-inline">
                        <label class="form-label" for="autoSizingSelect"></label>
                        <input class="form-check-input" type="checkbox">
                    </div> 
                </th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody class="panel">
            {% for item in data %}
            <tr>
                <td>{{ item.Empleados }}</td>
                <td>{{ item.Empleados.bossname }}</td>
                <td><a href = "{% url 'update_event' item.id %}" class="btn btn-outline-secondary btn-sm"> Editar </a></td>
                {% for group in request.user.groups.all %}
                {% if group.name == 'admin' %}
                <td><a href = "{% url 'update_rrhh' item.id %}" class="btn btn-outline-secondary btn-sm"> Editar RRHH</a></td>
                <!--<td><a href = "{% url 'delete_event' item.id %}" class="btn btn-outline-danger btn-sm"> Eliminar </a></td>-->
                {% endif %}
                {% endfor %}
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="{{ item.id }}" name="idcheckbox">
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</form> 

{% endblock %}